{
    "production": {
        "domain": "codimd.cloud-station.io",
        "loglevel": "info",
        "db": {
            "username": "",
            "password": "",
            "database": "codimd",
            "host": "localhost",
            "port": "5432",
            "dialect": "postgres"
        }
    }
}
